body 
    +light
    color: $text-color
    img 
        max-width: 100%;
.section
    padding: 100px 0;  
    &-title
        font-size: 30px
        +bold
        text-align: center
        text-transform: uppercase;
    &__title
        margin-bottom: 100px; 
.button-o
    border: 2px solid $primary
    font-size: 12px
    text-transform: uppercase 
    padding: 17px 22px
    color: $primary
    background-color: #fff
    +bold
    text-decoration: none;
.button
    border: none 
    text-transform: uppercase
    padding: 25px 45px
    background-color: $primary
    color: #ffffff
    +bold
    text-decoration: none;
    &:hover
        cursor: pointer;
    &-fitting
        color: $primary
        background-color: #fff;
    &-add
        background-color: lighten($primary, 10%);
        color: #ffffff     
    &-like
        background-color: $primary; 
        height: 30px;
        border: none;
        width: 30px;
        
.bg-secondary
    background: $bg-secondary
.input
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd
input[type="checkbox"]
    display: none;
    &:checked + label:before
        background-color: $primary;
.select
    height: 80px;
    border: 1px solid #dddddd
    width: 100%;
    position: relative;
    &:after
        content: ''
        z-index: 9;
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 20px;
        width: 50px;
        height: 50px;
        background-size: 100%
        background: url('../img/download.png') no-repeat center
    &:hover
        cursor: pointer;
                           
    &_checked
        line-height: 80px;
        padding-left: 30px;
    &__dropdown
        position: absolute
        top: 80px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #dddddd
        margin: 0px;
        list-style: none;
        padding: 0
        display: none;
        &_open
            display: block; 
    &__option
        padding: 20px
        &:hover
            background-color: $bg-secondary;
        

.checkbox
    &-label
        display: flex;
        align-items: center;
        margin-right: 40px;
        &:hover
            cursor: pointer;
        &:before
            content: ''
            width: 30px;
            height: 30px;
            border: 1px solid #dddddd;
            margin-right: 20px;
            
.input
    height: 80px
    padding-left: 30px;
    border: 1px solid #dddddd 

@media   (max-width: 576px)
    .button-o
        font-size: 10px

    .section 
        &-title
            padding: 60px 0;
            font-size: 24px




